.textarea {
    width: 100px;
    height: 100px;
    background-color: grey;
  }

.iframe {
    height: 300px;
    width: 100%;
    border: 5px solid red;
}

#element {
    color: blue;
    text-align: center;
}

.heading {
    text-align: right;
    color: red;
    height: 5px;
}

h3 {
    font-size: 50px;
    font-weight: bold;
}

h4 {
    background-color: orange;
    border: 5px dotted green;
    font-size: 30px;
    color: aqua;
}

tr:nth-child(even) {
    background-color: azure;
}

tr:nth-child(odd) {
    background-color: rgb(36, 133, 133);
}

h1 {
    color: bisque;
}

h1.highlight {
    color: blue;
}

ul li:nth-child(even) {
    color:rgb(36, 133, 133);
}

a:hover {
    color: antiquewhite;
}

a:visited {
    color: brown;
}

.element {
  padding: 10px;
  margin: 20px;
}

p::first-letter {
    color: slategray;
    font-weight: bold;
}

header {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    height: 50px;
}

.element img {
    width: auto;
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 10px;
}

.container {
    display: flex;
    background-color: darkgreen;
}

.column1 {
    width: 150px;
    background-color: bisque;
}

.column2 {
    background-color: coral;
    flex: 1;
}

.column3 {
    background-color: blueviolet;
    width: 300px;
}

.grid {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex: 1 0 50px;
    padding: 10px;
    border: 5px solid #c91818;
  }

  .cardgrid {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 0 0 300px;
    margin: 10px;
    background-color: #f1f1f1;
  }

  .footer {
    display: flex;
    position: sticky;
    flex-direction: column;
  }

  .pricingcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pricing {
    border: 5px solid aquamarine;
    text-align: center;
    flex: 0 0 200px;
    padding: 10px;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  p {
    font-size: 10px;
  }

  @media screen and (min-width: 400px) {
    p {
        font-size: 20px;
    }
  }
  
  .center {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .element2 {
    display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px;
      border: 1px solid darkcyan;
  }

  ul.navbar {
    background-color: #f2f2f2;
  }

  ul.navbar li {
    display: inline-block;
    margin-right: 10px;
  }

  .hidden {
    width: 250px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: darkcyan;
  }

  .scroll {
    width: 350px;
    height: 70px;
    overflow: scroll;
    border: 1px solid #ccc;
    background-color: navajowhite;
  }

  .auto {
    width: 400px;
    height: 100px;
    overflow: auto;
    background-color: orangered;
  }

  .horizontal {
    width: 100px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: aliceblue;
  }
